name: Release Workflow

on:
  issue_comment:
    types:
      - created
      - edited

jobs:
  release_workflow:
    name: Release Workflow
    runs-on: ubuntu-latest
    if: startswith(github.event.comment.body, '/cherry-pick')

    steps:
      - name: Set Job Variables
        id: vars
        run: |
          commits=`echo ${{ github.event.comment.body }} | sed 's~/cherry-pick ~~g'`
          echo ::set-output name=commits::$commits
          echo ::set-output name=release-branch::release/13.x

      - name: Fetch LLVM sources
        uses: actions/checkout@v2
        with:
          repository: llvm/llvm-project
          ref: ${{ steps.vars.outputs.release-branch }}
          fetch-depth: 0

      - name: Backport Commits
        id: backport
        run: |
          # Setup git
          git config --global user.name "llvmbot"
          git config --global user.email "llvmbot@llvm.org"
          
          for c in ${{ steps.vars.outputs.commits }}; do
            if ! git cherry-pick -x $c; then
              echo ::set-output name=failed-commit::$c
              exit 1
            fi
          done

      - name: Cherry-Pick Failed 
        if: failure()
        uses: actions/github-script@v3
        with:
          script: |
            actions_url='https://github.com/' + process.env.GITHUB_REPOSITORY + '/actions/runs/' + process.env.GITHUB_RUN_ID 
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Failed to cherry-pick: ${{ steps.backport.outputs.failed-commit }}\n\n' + actions_url
            })

            github.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['CherryPickConflict']
            })

      - name: Cherry-Pick Success
        uses: actions/github-script@v3
        with:
          script: |
            github.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['CherryPickClean']
            })

            github.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['CherryPickConflict']
            })
            
      - name: Create branch
        id: branch
        run: |
          branch_name=issue${{ github.event.issue.number }}
          git push https://${{ github.token }}@github.com/${{ github.repository }} HEAD:$branch_name
          echo ::set-output name=name::$branch_name

      - name: Add branch name to issue
        uses: actions/github-script@v3
        with:
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '/branch ${{ github.repository }}/${{ steps.branch.outputs.name }}'
            })

      - name: Create Pull Request
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.WORKFLOW_DISPATCH_SECRET }}
          script: |
            github.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'release-workflow-create-pr.yml',
              ref: 'release-automation',
              inputs: {
                branch: '${{ github.repository }}/${{ steps.branch.outputs.name }}',
                issue_number: context.issue.number.toString()
              }
            })

